@import '@/styles/theme';

.media {
  transform: translateX(-$padding-horizontal);
  width: calc(100% + 3em);

  @media (min-width: $min-width-sm) {
    transform: unset;
    width: 152.5%;
  }

  video {
    width: 100%;
  }
}
