@import '@/styles/theme';

.page {
  color: $white;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
  padding: $padding-vertical $padding-horizontal;
  padding-top: 15vh;

  @media (min-width: $min-width-sm) {
    flex-direction: row;
    padding-top: 25vh;
  }

  &-white {
    background-color: $white;
  }

  &__desc {
    padding-bottom: $padding-vertical * 2;
    padding-right: $padding-vertical * 4;

    &-white {
      color: $navy-blue;
    }

    p {
      opacity: 0.5;
    }

    &-title {
      font-size: 1.5rem;
      margin: 0;
      opacity: 1 !important;
      padding: 0;
    }

    @media (min-width: $min-width-sm) {
      padding-left: 5vw;
      width: 38vw;
    }
  }
}

.register {
  background-color: $navy-blue;
  height: 100vh;
  padding: $padding-horizontal * 3;
}
