@import '@/styles/theme';

.content {
  height: 100vh;
  overflow: hidden;
  width: 100%;

  &__inner {
    transition: transform 0.4s ease-in;
    will-change: transform;
  }
}

.pagination {
  bottom: 1rem;
  display: flex;
  left: $padding-horizontal * 3;
  position: absolute;

  &__item {
    margin-right: 0.3rem;
    opacity: 0.3;
    padding: 0.5rem 0.3rem;
    transition: 0.5s opacity;
    transition-delay: 0.2s;
    width: 3rem;
    will-change: opacity;

    &:hover {
      cursor: pointer;
    }

    &-bg {
      background-color: $white;
      height: 0.3rem;
    }

    &-active {
      opacity: 1;
    }
  }
}
