@import '@/styles/theme';

.banner {
  background: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding-bottom: $padding-vertical * 2;
  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  padding-top: $padding-vertical;
  width: 100%;
}

.banner-subtitle {
  color: $white;
  font-family: Bebas Neue Regular;
  font-size: 1.5em;
}

.title {
  color: $white;
  font-family: Bebas Neue Regular;
  font-size: 2em;
  padding: $padding-horizontal;
}

@media (max-width: $max-width-sm) {
  .banner {
    justify-content: center;
    padding-bottom: $padding-horizontal;
  }

  .title {
    padding: 0.5em;
  }

  .banner-subtitle {
    color: $white;
    font-family: Bebas Neue Regular;
    font-size: 1em;
  }
}
