@import '@/styles/theme';

.pagination {
  bottom: 1rem;
  display: flex;
  left: $padding-horizontal * 3;
  opacity: 1;
  position: fixed;
  transition: 0.3s opacity;
  transition-delay: 0;
  will-change: opacity;
  z-index: 5;

  &-hide {
    opacity: 0;
  }

  &__item {
    margin-right: 0.3rem;
    opacity: 0.3;
    padding: 0.5rem 0.3rem;
    transition: 0.5s opacity;
    transition-delay: 0.2s;
    width: 3rem;
    will-change: opacity;

    &:hover {
      cursor: pointer;
    }

    &-bg {
      background-color: $white;
      height: 0.3rem;
    }

    &-active {
      opacity: 1;
    }
  }
}
