@import '@/styles/theme';

.menu {
  background-color: transparent;
  height: $menu-height + 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  a {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);
  }
}

.toggle {
  display: none;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.menu-logo {
  height: auto;
  margin-left: 1em;
  width: 280px;
}

.menu-left {
  display: flex;
  flex-direction: row;
}

.menu-links {
  display: flex;
  flex-direction: row;
  padding-right: $padding-horizontal;
}

.menu-about {
  padding-right: $padding-horizontal;
}

.menu-about-border {
  @include config-transition-prop(border-left-color);

  border-left: 1px transparent solid;
  height: 2.5em;
  margin-bottom: 0.5em;

  &__light {
    border-left-color: $blue;
  }

  &__dark {
    border-left-color: $gray-second;
  }

  &__white {
    border-left-color: $white;
  }
}

.menu-links a {
  color: $white;
  font-size: 1.25em;
  font-weight: 600;
  padding-right: $padding-horizontal;
}

.menu-cta {
  @include config-transition-prop(background-color);

  background-color: transparent;

  a {
    @include config-transition-prop(color, $delay: 0s, $duration: 0.2s);

    padding: 0 0.5em;
  }
}

.menu-cta-active {
  background-color: $navy-blue;

  div {
    border-left-color: $navy-blue;
  }

  a {
    color: $gray-second !important;
  }
}

.menu-cta-border {
  @include config-transition-prop(border-left-color);

  border-left: 1px $white solid;
  height: 2.5em;
  margin-bottom: 0.5em;

  &__light {
    border-left-color: $blue;
  }

  &__dark {
    border-left-color: $gray-second;
  }

  &__white {
    border-left-color: $white;
  }
}

.menu-lang {
  align-items: center;
  display: flex;
  flex: row;
  font-family: Bebas Neue Regular;
  margin-top: -1em;
  padding: 0 $padding-horizontal;
}

.menu-lang p {
  color: $gray-blue;
}

.menu-lang > * {
  color: $white;
  margin-left: 1em;
}

.menu-lang-btn {
  @include config-transition-prop(color);

  &__light {
    color: $blue;
  }

  &__dark {
    color: $gray-second;
  }

  &__white {
    color: $white;
  }
}

/* small nav */
.header-small-button {
  margin: 0;
  padding: $padding-vertical;
  z-index: 10;
}

.menu-small {
  display: none;
  width: 100%;
}

.mobile-logo {
  display: none;
}

@media (max-width: $max-width-sm) {
  .menu {
    visibility: hidden;
  }

  .menu-logo {
    display: none;
  }

  .menu-wrapper {
    background-color: $cherry-red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    z-index: 5;
  }

  .menu-links {
    flex-direction: column;
    padding: $padding-vertical;
    width: 100%;
  }

  .menu-links a {
    color: $white;
    font-family: Bebas Neue Regular;
    font-size: 1.5em;
  }

  .menu-about-border,
  .menu-cta-border {
    display: none;
  }

  .menu-about {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menu-left {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-small {
    display: block;
    height: 3em;
    position: fixed;
    top: 0;
    z-index: 6;
  }

  .menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-logo {
    display: block;
    max-width: 280px;
    z-index: 11;
  }

  .menu-lang {
    justify-content: flex-end;
  }

  .menu-lang p {
    color: $white;
  }
}

.light {
  a {
    color: $blue;

    &:hover {
      color: $gray-second;
    }
  }

  &__link-active {
    color: $gray-second !important;

    &:hover {
      color: $blue !important;
    }
  }
}

.dark {
  a {
    color: $gray-second;

    &:hover {
      color: $blue;
    }
  }

  &__link-active {
    color: $blue !important;

    &:hover {
      color: $gray-second !important;
    }
  }
}

.white {
  a {
    color: $white;

    &:hover {
      color: $gray-second;
    }
  }

  &__link-active {
    color: $gray-second !important;

    &:hover {
      color: $white !important;
    }
  }
}

.submenu {
  background-color: $gray-blue;
  bottom: unset;
  height: fit-content;
  inset: 0;
  padding-top: $menu-height;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, height 0.3s ease-in;
  will-change: transform, height;
  z-index: -1;

  &-enabled {
    transform: translateY(0);
  }

  &__links {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    transition: padding 0.1s ease-in-out;
    will-change: padding;

    &-active {
      font-style: italic;
    }
  }
}
