@import '@/styles/theme';
/**
 * Accordion styling
 **/

.accordion-section {
  border-bottom: 1px solid $white;
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-vertical;
  margin-left: $padding-horizontal * 2;
  margin-top: $padding-vertical;
  width: 85%;

  &__light {
    border-bottom-color: $black;
  }

  &__white {
    border-bottom-color: $black;
  }
}

.accordion-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.accordion-title {
  color: $white;
  font-family: Bebas Neue Regular;
  font-size: 2em;
  font-weight: 600;
  margin-block-end: 0;
  margin-block-start: 0;
  max-width: 40%;
  text-align: left;
}

.accordion-icon {
  align-items: center;
  display: flex;
  margin-left: 3em;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: transparent;
  margin-bottom: 1em;
  margin-left: auto;
  max-width: 50%;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion-text {
  color: $white;
  font-size: 1.5em;
  font-weight: 500;
}

@media (max-width: $max-width-sm) {
  .accordion-section {
    margin: 1em;
  }

  .accordion-title {
    font-size: 1.4em;
    max-width: 100%;
  }

  .accordion-content {
    font-size: 0.9em;
    max-width: 100%;
  }

  .accordion-icon {
    margin-left: 1em;
  }
}
