@import '@/styles/theme';

.banner {
  background-color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 2;
}

.content {
  inset: 0;
  position: absolute;
}

.title {
  bottom: 0;
  color: $white;
  font-family: Bebas Neue Regular;
  font-size: 3em;
  padding: $padding-horizontal;
  position: absolute;
}

.banner-img {
  @include config-transition-prop(background-color);

  background: transparent;
  position: relative;

  &__gradient {
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(34, 31, 66, 1) 100%
    );
  }
}

.banner-img img {
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

@media (max-width: $max-width-sm) {
  .banner {
    justify-content: center;
    padding-bottom: $padding-horizontal;
  }

  .title {
    bottom: $padding-vertical;
    font-size: 2em;
    padding: 1.5em;
  }
}
