@import '@/styles/theme';

.register-form {
  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__divider {
    min-height: 10vh;
  }

  &__white-input {
    border-bottom-color: $navy-blue;
    color: $navy-blue;

    &::placeholder {
      color: $gray;
    }
  }
}

.button {
  border-bottom: 0.2rem solid transparent;
  color: $white;
  font-size: 1.3em;
  width: fit-content;

  &:hover {
    border-bottom-color: $navy-blue !important;
    color: $navy-blue;
  }

  &__white {
    color: $navy-blue;

    &:hover {
      border-bottom-color: $gray !important;
      color: $gray;
    }
  }
}

.select {
  button {
    border-bottom: 0.2rem solid transparent;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    margin-right: 1.3rem;

    &:hover {
      border-bottom-color: $navy-blue !important;
      color: $navy-blue;
    }
  }

  &-active {
    border-bottom-color: $white !important;
  }
}

@media (max-width: $max-width-sm) {
  .register-form {
    max-width: 100%;

    &__divider {
      min-height: 5vh;
    }
  }
}
