@import '@/styles/theme';

// .content { }

.cover {
  background-color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  &__header {
    background-color: $white;
    height: $menu-height * 1.4;
  }

  &__title {
    padding-bottom: 0;
  }

  &__border {
    background-color: $white;
    height: 0.7em;
    margin-bottom: 3em;
    margin-top: 1em;
    width: 10vw;
  }
}

.services {
  display: flex;
  margin-top: $menu-height * 1.4;
  min-height: 100vh;
  padding: $padding-vertical $padding-horizontal * 1.1;

  &__nav {
    &-active {
      background-color: $navy-blue;
      bottom: 0.3rem;
      height: 0.22rem;
      position: absolute;
      transform: translateX(-110%);
      width: $padding-vertical * 1.1;
    }

    &-item {
      padding-right: $padding-horizontal * 2;
      position: relative;
      text-transform: uppercase;

      p,
      h3 {
        margin: 0;
      }

      h3 {
        cursor: pointer;
      }
    }

    &-sticky {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: $menu-height * 1.4;
    }

    // &-desk { }
    // &-mobile { }
  }

  &__body {
    display: flex;
    flex: 1 1;
    flex-direction: column;
  }
}

// .faq { }
// .form { }
