@import '@/styles/theme';

.cover {
  background-color: $navy-blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  &__header {
    background-color: $white;
    height: $menu-height * 1.4;
  }

  &__title {
    padding-bottom: 0;
  }

  &__border {
    background-color: $white;
    height: 0.7em;
    margin-bottom: 3em;
    margin-top: 1em;
    width: 10vw;
  }
}

.services {
  display: flex;
  min-height: 100vh;
  scroll-snap-align: start;

  p {
    color: $navy-blue;
    font-size: 1.8em;
  }

  h3 {
    color: $navy-blue;
    font-family: Bebas Neue Regular;
    font-size: 1.8em;
  }

  &__nav {
    &-active {
      background-color: $navy-blue;
      bottom: 0.6rem;
      height: 0.3rem;
      position: absolute;
      transform: translateX(-110%);
      width: $padding-vertical * 1.1;
    }

    &-item {
      padding-left: $padding-horizontal * 1.1;
      padding-right: $padding-horizontal * 2;
      position: relative;
      text-transform: uppercase;

      p,
      h3 {
        margin: 0;
      }

      h3 {
        cursor: pointer;
      }
    }

    &-sticky {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: $menu-height * 1.85;
    }

    &-desk {
      display: none;
      min-width: 35vw;

      @media (min-width: $min-width-sm) {
        display: block;
      }
    }
  }

  &__service {
    &-banner {
      height: 100vh;
      position: relative;
      width: 100%;

      img {
        filter: blur(7px);
        height: 100vh;
        transform: scale(1.1);
      }
    }

    &-description {
      font-weight: bold;
      padding: 0 $padding-horizontal;
      position: absolute;
      top: 0;

      @media (min-width: $min-width-sm) {
        padding-left: $padding-horizontal * 4;
        width: 70%;
      }
    }

    &-body {
      padding-right: $padding-horizontal * 1.1;
      scroll-snap-align: start;
    }

    &-desk {
      display: none;

      @media (min-width: $min-width-sm) {
        display: block;
      }

      p {
        margin: 0;
        padding-top: $menu-height;
      }
    }

    &-mobile {
      display: block;
      padding-top: $menu-height;

      @media (min-width: $min-width-sm) {
        display: none;
      }
    }

    &-mobile-body {
      padding: 0 $padding-horizontal;
    }
  }

  &__body {
    display: flex;
    flex: 1 1;
    flex-direction: column;
  }
}

.faq {
  min-height: 100vh;
  scroll-snap-align: start;
}

.form {
  min-height: 100vh;
  scroll-snap-align: start;
}
