// Break points
$max-width-sm: 767px;
$min-width-sm: 768px;
$min-width-emph: 950px;

// Colors
$navy-blue: #0d1c40;
$cherry-red: #ee2d45;
$gray-blue: #698191;
$white: #fffefe;
$black: #000;
$off-white: #f0f0f0;
$gray: #bababa;

$padding-horizontal: 1.5em;
$padding-vertical: 1.5em;
$menu-height: 4.5em;
