@use 'sass:list';

// Break points
$max-width-sm: 767px;
$min-width-sm: 768px;
$min-width-emph: 950px;

// Colors
$navy-blue: #0d1c40;
$cherry-red: #ee2d45;
$gray-blue: #698191;
$white: #fffefe;
$black: #000;
$off-white: #f0f0f0;
$gray: #bababa;
$gray-second: #bebebe;
$gray-light: #a6a6a6;
$blue: #221f42;
$gray-blue: #79788d;

$padding-horizontal: 1.5em;
$padding-vertical: 1.5em;
$menu-height: 4.5em;

// Transitions
@mixin config-transition-prop($props, $delay: 0.5s, $duration: 0.5s) {
  $durations: ();
  @for $i from 1 through list.length($props) {
    $durations: list.append($durations, $duration);
  }

  $transition: list.zip($props, $durations);
  $transition-delay: $delay;
  $will-change: list.join((), $props, $separator: comma);

  // @debug '[transition]: ' + $transition;
  // @debug '[transition-deplay]: ' + $transition-delay;
  // @debug '[will-change]: ' + $will-change;

  transition: $transition;
  transition-delay: $transition-delay;
  will-change: $will-change;
}
