@import '@/styles/theme';

.custominput {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $white;
  box-shadow: none;
  color: $white;
  font-family: Labrador Regular;
  font-size: 1.3em;
  outline: none;
  width: 100%;

  &[type='file'] {
    cursor: pointer;

    &::-webkit-file-upload-button {
      visibility: hidden;
      width: 0;
    }

    &::before {
      content: 'Choose file';
    }
  }
}

.custominput::placeholder {
  color: $white;
}
